NODE_ENV=development
PORT=8084

DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=
DB_NAME=challenge_db

USER_SERVICE_URL=http://localhost:8081
STORAGE_TYPE=local

RABBITMQ_URL=amqp://guest:guest@localhost:5672
USER_EVENT_EXCHANGE=user.event
USER_EVENT_QUEUE=challenge-svc.user-event.queue

CHALLENGE_EVENT_EXCHANGE=challenge.event

REDIS_HOST=localhost
REDIS_PORT=6379